.aboutus {
  width: 100%;
  display: flex;
}

.aboutus-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    width: 650px;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    line-height: 1.5;
  }
}

.people-img {
  height: 100vh;
  width: 50%;
  background: url("./../assets/People.jpg") center/cover;
}