.button-big {
  max-width: 310px;
  padding: 15px 35px;
  margin: 10px;
  background: white;
  font-size: 36px;
  font-weight: lighter;
  border: 1px solid #000;
  display: block;
  text-align: center;
}