.header {
  height: calc(100vh - 60px);
  display: flex;
  flex-wrap: wrap;
}

.background-home {
  width: 50%;
  background-image: url("./../assets/Home-Hero-Image.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.start-help-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-help-content {
  text-align: center;
  margin: auto;
}

.header-title {
  text-align: center;
  display: block;
}

.header-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}