.navigation {
  position: absolute;
  top: 1%;
  right: 2%;
}

.active {
  border: 1px solid #000;
}

.menu-login {
  display: flex;
  justify-content: flex-end;
  a {
    font-size: 14px;
  }
}

.menu-content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  a {
    font-size: 18px;
    line-height: 2;
    &:hover {
      border: 1px solid #000;
    }
  }
}

.button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}