@import "reset";
@import "settings/colors";
@import "settings/fonts";
@import "Menu";
#root {
  width: 100%;
  position: relative;

}
body {
  font-family: $font-base;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
}

.wrapper {
  width: 100%;
}

.decoration {
  background: url("./../assets/Decoration.svg");
  height: 33px;
  width: 253px;
  margin: 20px auto;

}

.half-page {
  width: 50%;
}