@import "reset";
@import "settings/colors";
@import "settings/fonts";

body {
  font-family: $font-base;
  background: #cccccc;
  display: flex;
  justify-content: center;
}

.container {
  width: 1344px;
}

.wrapper {
  width: 100%;
}

.decoration {
  background: url("./../assets/Decoration.svg");
  height: 33px;
  width: 253px;
}

.half-page {
  width: 50%;
}