@import "reset";
@import "settings/colors";
@import "settings/fonts";
@import "Navigation";
#root {
  width: 100%;
  position: relative;
}
body {
  font-family: $font-base;
  background: #cccccc;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
}

.wrapper {
  width: 100%;
}

.decoration {
  background: url("./../assets/Decoration.svg");
  height: 33px;
  width: 253px;
  margin: 0 auto;
}

.half-page {
  width: 50%;
}